*{
	font-family: helvetica;
}

body{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	align-content: center;
	justify-content: space-around;
	background-color: #ccc;
}

#template{
	/*Sizing*/
	
	
	/*Flex*/
	
	
	/*Styling*/
	
	
}

#background-blue{
	/*Sizing*/
	position: fixed;
	height: 50vh; min-height: 30em;
	width: 100vw;
	z-index: -1;
	
	
	/*Flex*/
	display: flex;
	align-content: center;
	justify-content: center;
	
	/*Styling*/
	background-color: #45bbd2;
	border-bottom: 1px solid grey;
}

nav{
	/*Sizing*/
	margin: 30px auto;
	position: fixed;
	width: 60vw;
	height: 5em;
	z-index: 2;
	/*Flex*/
	display: flex;
	
	/*Styling*/
	border-radius: 10px;
	
}

#nav-home{
	/*Sizing*/
	min-width: 135px;
	/*Flex*/
	display: flex;
	align-content: center;
	justify-content: space-around;
	flex: 2;
	
	/*Styling*/
	text-align: center;
	border-radius: 20px;
}

#nav-home a{
	text-decoration: none;
	margin: auto;
	color: white;
	font-family: Avantgarde;
	font-size: 30px;7
	border-radius: 20px;
}

#nav-home a:hover{
	box-shadow: 0px 0px 5px #888888;
}


#nav-navigation{
	/*Sizing*/
	z-index: 2;
	
	/*Flex*/
	flex: 5;
	
	/*Styling*/
	border-radius: 10px;
	background-color: #cfeef4;
}

#content{
	/*Sizing*/
	width: 100vw;
	height: 100%;
	
	/*Flex*/
	display: flex;
	justify-content: space-around;
	align-content: center;
	/*Styling*/
	
	
}

#content-main{
	/*Sizing*/
	z-index: 1;
	width: 60vw; min-width: 350px;
	height: auto; min-height: 30em;
	margin-top: 28em;
	/*Flex*/
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	
	/*Styling*/
	background-color: #ddd;
	border-radius: 5px;
	border: 1px solid grey;
	
}

#content-main-title{
	/*Sizing*/
	width: 100%;
	height: auto;
	margin: 0px 20px;
	display: block;
	/*Flex*/
	flex: 1;
	
	/*Styling*/
	color: #555;
	border-radius: 5px;
}


#content-main-sections{
	/*Sizing*/
	
	/*Flex*/
	display: flex;
	flex: 16;
	flex-direction: row;
	flex-wrap: wrap;
    align-content: center;
	justify-content: space-around;
	
	/*Styling*/
	
	
}

.content-main-item{
	/*Sizing*/
	margin: 20px 5px;
	height: 500px;
	width: 300px;
	/*Flex*/
	/*Styling*/
	background-color: silver;
	
}

.content-main-item-image{
	/*Sizing*/
	width: 100%;
	height: 300px;
	/*Flex*/
	/*Styling*/
	background-color: white;
	
}

.content-main-item-text{
	color: #444;
	margin-left: 10px;
	
}

