<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<title>Booking Page</title>
			<link rel="stylesheet" type="text/css" href="static/hotelStylesheet.css">
            <script src="static/homepage.js"></script>
			<script src="http://code.jquery.com/jquery-1.9.1.js"></script> 
	</head>
    <body>
		<div id="background-blue">
            <img src="/static/wide5.jpg" alt="Background image">
		</div>
		<nav>
			<div id="nav-home">
				<a href="/">Bayliss & Taylor</a>
			</div>
			<div id="nav-navigation">	
                <div class="nav-navigation-item">
                    <a href="/">
                        <h1>Home</h1>
                    </a>
                </div>
                <div class="nav-navigation-item">
                    <a href="/booking">
                        <h1>Book</h1>
                    </a>
                </div>
                <div class="nav-navigation-item">
                    <a href="/reviews">
                        <h1>Reviews</h1>
                    </a>
                </div>
				<div class="nav-navigation-item">
                    <a href="/gallery">
                        <h1>Gallery</h1>
                    </a>
                </div>
                <div class="nav-navigation-item"  id="pageOn">
                    <a href="/about">
                        <h1>About</h1>
                    </a>
                </div>
			</div>
		</nav>
		<div id="content">		
				<div id="conformationBlock">
					<div id="content-main-sections">
							<div class="content-main-item">
								<div class="content-main-item-image">
									<img class="fitImg" src = "static/attractionHorses.jpg" alt="Horse riding">
								</div>
								<h1 class="content-main-item-text">
									Horse Riding<span class="subText"> (20 minutes)</span>
								</h1>
								<p class="content-main-item-text">
									You can ride horses from our on-site stable into the nearby countryside. A great way to spend a day getting close to nature.
								</p>
							</div>
							<div class="content-main-item">
								<div class="content-main-item-image">
									<img class="fitImg" src = "static/attractionBridge.jpg" alt = "London Bridge">
								</div>
								<h1 class="content-main-item-text">
									Excursions to the City<span class="subText"> (Doorstep!)</span>
								</h1>
								<p class="content-main-item-text">
                                    We have a great rail connection to London. Book a first class trip with us for some retail therapy or to catch and show.
								</p>
							</div>
							<div class="content-main-item">
								<div class="content-main-item-image">
									<img class="fitImg" src = "static/attractions4.jpg" alt = "Village">
								</div>
								<h1 class="content-main-item-text">
									Picturesque Village<span class="subText"> (25 minutes)</span>
								</h1>
								<p class="content-main-item-text">
                                    We can also arrange trips to nearby villages - full of charm and unique boutiques and tea shops.
								</p>
							</div>
							<div class="content-main-item">
								<div class="content-main-item-image">
									<img class="fitImg" src = "static/attractionRides.jpg" alt = "Carnival">
								</div>
								<h1 class="content-main-item-text">
									Carnival<span class="subText"> (5 minutes)</span>
								</h1>
								<p class="content-main-item-text">
                                    We can take you to a nearby all-year carnival, where you can experience a neon-lit evening of candyfloss and funfair attractions.
								</p>
							</div>
							<div class="content-main-item">
								<div class="content-main-item-image">
									<img class="fitImg" src = "static/attraction3.jpg" alt = "Beach">
								</div>
								<h1 class="content-main-item-text">
									Nearby beach<span class="subText"> (10 minutes)</span>
								</h1>
								<p class="content-main-item-text">
                                    If you want to spend a day relaxing on the beach, we can take you there! Clear water and quiet surroundings await you.
								</p>
							</div>
					
						<div class="form">
						    <h2 class="row">Where to find us!</h2>
							<div class="address">
								<h4 class="row">Address: </h4>
								<p class="row">515 Chartres St. <br>
								Jackson Square <br>
								New Orleans, Unites States <br>
								LA 70116</p>
							</div>
							<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m0!4v1512481458517!6m8!1m7!1s_72xQdNj6VVXxyE3rzr9rQ!2m2!1d29.95740034123495!2d-90.06383874007064!3f180.65537021549318!4f5.8453778226110416!5f0.4000000000000002" width="600" height="450" style="border:0" allowfullscreen></iframe>
                        </div>
						    
					</div>
                </div>
			</div>
    </body>
</html>