<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<title>Booking Page</title>
			<link rel="stylesheet" type="text/css" href="static/hotelStylesheet.css">
            <script src="static/homepage.js"></script>
			<script src="http://code.jquery.com/jquery-1.9.1.js"></script> 
	</head>
    <body>
		<div id="background-blue">
            <img src="/static/wide2.jpg" alt="Hotel background">
		</div>
		<nav>
			<div id="nav-home">
				<a href="/">Bayliss & Taylor</a>
			</div>
			<div id="nav-navigation">	
                <div class="nav-navigation-item" >
                    <a href="/">
                        <h1>Home</h1>
                    </a>
                </div>
                <div class="nav-navigation-item" id="pageOn">
                    <a href="/booking">
                        <h1>Book</h1>
                    </a>
                </div>
                <div class="nav-navigation-item">
                    <a href="/reviews">
                        <h1>Reviews</h1>
                    </a>
                </div>
				<div class="nav-navigation-item">
                    <a href="/gallery">
                        <h1>Gallery</h1>
                    </a>
                </div>
                <div class="nav-navigation-item">
                    <a href="/about">
                        <h1>About</h1>
                    </a>
                </div>
			</div>
		</nav>
		
		<div id="content">
			<div id="content-main">
				
				<div id="content-main-sections">
					<div class="form">
                        <h1 class="form-heading">Book A Room</h1>
                        <form class="booking" action = "guestBooking" method = "post">
                            <div class="row">
                                <label for="name">Name</label>
                                <input type = "text" name = "name" id = "name" required> <br>
                            </div>
                            <div class="row">
                                <label for="email">Email</label>
                                <input type = "text" name = "email" id = "email" required> <br>
                            </div>
							<div class="row">
                                <label for="room">Room</label>
								<select name = "room" id ="room">
									<option>Any Room</option>
									<option>Augustus Suite</option>
									<option>Brown Suite</option>
									<option>Denton Suite</option>
									<option>Everley Suite</option>
									<option>Garrod Suite</option>
									<option>Illidan Suite</option>
									<option>Jezabel Suite</option>
									<option>Matthewson Suite</option>
									<option>Valliant Suite</option>
									<option>Walter Suite</option>
								</select><br>
                            </div>
                            <div class="row">
                                <label for="arrival">Arrival Date</label>
                                <input type = "date" name = "arrival" id = "arrival" min={{mindate}} required> <br>
                            </div>
                            <div class="row">
                                <label for="departure">Departure Date</label>
                                <input type = "date" name = "departure" id = "departure" min={{mindate}} required> <br>
                            </div>
							<div class="row">
								<input type = "submit" value = "Submit"/>
							</div>
							<div class="row">
								<p id="errorSpace">{{errorMessage}}</p>
							</div>
                        </form>
                    </div>
                    
                    
                    <div class="form">
							<h1 class="form-heading">Confirmed Bookings</h1>
							<table class="row" border="1">
                            <tr class="noEffect">
                                <th>Room</th>
                                <th>Arrival</th>
                                <th>Departure</th>
                            </tr>
                                {% for line in bookinglist %}
                                {% if line[6] == "yes" %}
                                <tr>
                                    <td>
                                        {{line[3]}}
                                    </td>
                                    <td>
                                        {{line[4]}}
                                    </td>
                                    <td>
                                        {{line[5]}}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
					
					
					<div class="form">
						<p>If you have any extra questions or queries about booking or our
							booking process, feel free to email us at issue@baylisstaylor.com or
							phone us between the hours of <span class="email"> 07:00 - 23:00 </span> at <span class="email">01603 368 297</span>. </p>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>