<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<title>Home Page</title>
			<link rel="stylesheet" type="text/css" href="static/hotelStylesheet.css">
			<script src="static/homepage.js"></script>
			<script src="http://code.jquery.com/jquery-1.9.1.js"></script> 
	</head>
	
	<body>
	
	<!--
	ON NAVIGATION BAR:
		-Local Attractions
		-Reviews
		-Book A Room
	ON HOME PAGE:
		- Local Attractions overview + link
		- Updated Live Reviews
		- Slideshow of pictures
		- Book a room overview + link
	-->
	
		<div id="background-blue">
		</div>
		<nav>
			<div id="nav-home">
				<a href="/">Bayliss & Taylor</a>
			</div>
			<div id="nav-navigation">	
                <div class="nav-navigation-item" id="pageOn">
                    <a href="/">
                        <h1>Home</h1>
                    </a>
                </div>
                <div class="nav-navigation-item">
                    <a href="/booking">
                        <h1>Book</h1>
                    </a>
                </div>
                <div class="nav-navigation-item">
                    <a href="/reviews">
                        <h1>Reviews</h1>
                    </a>
                </div>
                <div class="nav-navigation-item">
                    <a href="/">
                        <h1>About</h1>
                    </a>
                </div>
			</div>
		</nav>
		
		<div id="content">
			<div id="content-main">
				<div id="content-main-title">
					<h1>Welcome!</h1>
				</div>
				<div id="content-main-sections">
					<div class="content-main-item">
						<div class="content-main-item-image">
						
						</div>
						<h1 class="content-main-item-text">
							Book A Room!
						</h1>
						<p class="content-main-item-text">
							Want to visit for a short break?</br>
							Make a booking request once you know the dates and your choice of room!</br>
							It's easy and straightforward. </br>
							We will make sure to get back to you as soon as possible!
						</p>
					</div>
					<div class="content-main-item">
						<div class="content-main-item-image">
						
						</div>
						<h1 class="content-main-item-text">
							Reviews
						</h1>
						<p class="content-main-item-text">
							View our satisfied customers feedback from their stays!</br>
							If you have any complaints about your stay, please contact us at: <span class = "email">issues@baylisstaylor.com</span></br>
							It's easy and straightforward. </br>
						</p>
					</div>
					<div class="content-main-item">
					</div>
					<div class="content-main-item">
					</div>
					<div class="content-main-item">
					</div>
					<div class="content-main-item">
					</div>
					<div class="content-main-item">
					</div>
					<div class="content-main-item">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>