<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<title>Reviews Page</title>
			<link rel="stylesheet" type="text/css" href="static/hotelStylesheet.css">
            <link rel="stylesheet" type="text/css" href="static/bookingStylesheet.css">
			<script src="static/homepage.js"></script>
			<script src="http://code.jquery.com/jquery-1.9.1.js"></script> 
	</head>
	
	<body>
	
	<!--
	ON NAVIGATION BAR:
		-Local Attractions
		-Reviews
		-Book A Room
	ON HOME PAGE:
		- Local Attractions overview + link
		- Updated Live Reviews
		- Slideshow of pictures
		- Book a room overview + link
	-->
	
		<div id="background-blue">
		</div>
		<nav>
			<div id="nav-home">
				<a href="/">Bayliss & Taylor</a>
			</div>
			<div id="nav-navigation">	
                <div class="nav-navigation-item">
                    <a href="/">
                        <h1>Home</h1>
                    </a>
                </div>
                <div class="nav-navigation-item">
                    <a href="/booking">
                        <h1>Book</h1>
                    </a>
                </div>
                <div class="nav-navigation-item" id="pageOn">
                    <a href="/">
                        <h1>Reviews</h1>
                    </a>
                </div>
                <div class="nav-navigation-item">
                    <a href="/">
                        <h1>About</h1>
                    </a>
                </div>
			</div>
		</nav>
		
		<div id="content">
			<div id="content-main">

                <div id="content-main-sections">
                    <div class="form">
                        <h1 class="form-heading">Leave a review</h1>
                        <div id = "reviewForm">

                            <form action = "guestReview" method = "post">
                                <div class="inputRow">
                                    <label for="name">Name</label>
                                    <input type = "text" name = "name"> <br>
                                </div>

                                <div class="inputRow">
                                    <label for="rating">Rating (1 to 5)</label>
                                    <input type = "text" name = "rating"> <br>
                                </div>

                                <div class="inputRow">
                                    <label for="comments">Comments</label>
                                    <input type = "text" name = "comments"> <br>
                                </div>

                                <div class="inputRow">
                                    <input type = "submit" value = "Submit" />
                                </div>
                            </form>
                        </div>

                    </div>



                     <div class="form">


                        <div id = "guestReviews">
                         <h1 class="form-heading">Other guest's reviews</h1>
                            <table border="1">
                                <tr>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Rating (1-5)</th>
                                    <th>Comments</th>
                                </tr>
                            {% for line in reviewlist %}
                            <tr>
                            {% for item in line%}
                            <td>
                            {{item}}
                            </td>
                            {% endfor %}
                            </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>





	</body>
</html>
  