<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
            <title>The Bayliss Taylor Hotel</title>
            <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
			<link rel="stylesheet" type="text/css" href="static/hotelStylesheet.css">
			<script src="static/homepage.js"></script>
			<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	</head>
    <head>

    </head>
<body>
    <h1>Reviews</h1>
    <h2>Leave a review</h2>
    <form action = "guestReview" method = "post">
        Your name <input type = "text" name = "name"> <br>
        Your rating (1-5) <input type = "text" name = "rating"> <br>
        Any comments? <input type = "text" name = "comments"> <br>
        <input type = "submit" value = "Submit" />
    </form>
    <h2>Other guest's reviews</h2>
    <table border="1">
        {% for line in reviewlist %}
        <tr>
            {% for item in line%}
            <td>
            {{item}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>
